.button,
.label {
    display: flex;
    color: $text-color;
    white-space: nowrap;
    position: relative;
    >span {
        display: block;
        overflow: hidden;
        box-sizing: border-box;
        align-self: center;
        margin: 0;
        z-index: 1;
        height: 100%;
        &.icon {
            text-align: center;
        }
        &.text {
            text-align: left;
            text-overflow: ellipsis;
            font-family: $text-font;
            width: auto;
        }
    }
}

.label {
    cursor: default;
}

.button {
    cursor: pointer;
    &:not(.noHover) {
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
        &:active {
            background-color: rgba(0, 0, 0, 0.4);
        }
        &.active,
        &.active:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
    &.not>span:after {
        position: absolute;
        content: "";
        background: #c3cad0;
        height: 1px;
        width: 60%;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        transform: rotate(135deg);
    }
    &[show="false"] {
        width: 0;
    }
    &[show="true"] {
        width: 45px;
    }
}