.input>input[type="text"] {
    font-family: "Noto Sans";
    border: 0;
    min-width: 1em;
    width: 100%;
    color: #666;
    box-sizing: border-box;
    background-color: transparent;
    text-overflow: ellipsis;
    &:focus {
        outline: 0;
        background-color: rgba(0, 0, 0, 0.1)
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.05)
    }
}
